@charset "utf-8";

 @font-face { font-family :nanumB;    
   src : url(../font/NanumSquareB.woff);}
 @font-face { font-family :nanumR;    
   src : url(../font/NanumSquareR.woff);}
 @font-face { font-family :canon;    
   src : url(../font/frenchcanon.woff);}
/* @font-face { font-family: NotoSerifKR;    
   src : url(../font/NotoSerifKR-Regular.woff);}    */

   @font-face {
    font-family: NotoSerifKR;
    src: url(../font/NotoSerifKR-Regular.otf) format('woff');
    /* font-weight: normal; */
   }

*{margin: 0; padding:0;}
html{}
#wrap {overflow-x:hidden;}
#wrap section{ padding: 0 15px;}
body{ font-size:24px;
      color:#000000;
      font-family: 'nanumB', 'notosansKR';}
ul, ol, li {list-style:none;}
a {color:inherit; text-decoration:none;}
img, fieldset{border:none;vertical-align: middle}
button{outline:0; border:none;}
table{border-collapse:collapse}
.inner {max-width:1480px; margin:0 auto;} 


