@media all and (max-width:1400px){
    /* .inner {
        max-width: 1300px;
    } */

    h2 {
        font-family: 'canon';
        font-size: 3.2rem;
    }
    .price_tit {
        font-size: 2.5rem;
        margin: auto 0;
        width: 200px;
    }
    #sec_02 .price_01, #sec_02 .price_02 {
        justify-content: space-around;
    }
    .nail .swiper-wrapper {
    margin-left: 0px;
    }

}
@media all and (max-width:1360px){
    #main header {
        display:none;
    }
    #main .main_txt {
    padding-top: 100px;
    word-break:keep-all;
}
}


@media all and (max-width:700px){
    /* .inner {
        max-width: 650px;
    } */
    #main .main_img .sub2 img{
        width:80%;
    }
    #main .main_img .sub img{
        position: relative;
        top: 80px;
        margin-left: 80px;
    }
    #sec_02 .e_box {
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space;
        align-items: center;
        margin-bottom: 20px;
    }
    #sec_02 .e_box .item_box{
        margin-bottom: 60px ;
    }
    #sec_02 .e_box .item_box h3 {
        margin-bottom: 0;
    }
    #sec_02 .item {
        margin-bottom: 20px;
    }
    #sec_02 .tit_flex div {
        margin: auto 0;
    }
    #sec_02 .tit_flex div img{
        width:90%;
    }
    .price_tit {
        font-size:1.4rem;
    }
    #sec_02 .price_01, #sec_02 .price_02 {
        flex-direction: column;
        align-items:center;
    }
    #sec_02 .price_01 ul, #sec_02 .price_02 ul {
        width: 100%;
        margin-bottom:50px;
    }
    #sec_02 .price_01 {
    margin-bottom: 30px;
}
    #sec_02 .p_btn {
    margin-bottom: 20px;
    }
    
    #sec_04 .long_txt {
    font-size:1rem;
    }
    #sec_05 .locaition {
    flex-direction: column;
    }
    #sec_05 .store {
    position: relative;
    z-index:0;
    text-align: center;
    margin-bottom: 20px;
    }
        #sec_05 .store img {
        width: 80%;
        z-index:0;
        box-shadow:none;
    }

}

@media all and (max-width:500px){
    #main .main_txt p {
    font-size: 1rem;
    }
    #quick {
        position:fixed;
        right:0;bottom:10%;
    }
    #quick img{width:70%;}
    #quick .TOP div {
    width: 50px;
    height: 50px;
    border-radius: 60px;
    font-size:1.2rem;
    }   
   #main .main_img .sub img{
    width:300px;
    top: 30px; left:9%;
    margin-bottom:10px;
    }
    #main .main_img .sub2 {
    position: relative;
    top: 50px;
    }
    #main .main_img .main_img2 img {
    width:60%; 
    }
    #main .main_txt {
    margin-bottom: 0;
    }
    #main button {
    width: 350px;
    height: 100px;
    }
    #main button a {
        padding-left:50px;
    }
    #main button a::before {
        width: 60px;
    }
    .title p {
    font-size: 1.2rem;
    }   
    .price_tit {
        font-size: 1.6rem;
    }
    #sec_02 .price_01 ul,#sec_02 .price_01 ul {
        word-break: keep-all;
    }
    #sec_02 .e_box .item_box {
    padding:0 0 0 0;
    }
    #sec_02 .tit_flex {
    margin-bottom: 20px;
}
    #sec_04 {
    display:none;
}
    /* #sec_04 .long_txt p {
    text-align:left;
    }
    #sec_04 .long_txt {
        position: absolute;
        top: 50%;
        left: 10%;
        transform: translate(0,-50%);
        color: #ffffff;
        z-index: 9999;
    } */
    #sec_05 .detail h3 {
    font-size:1.6rem;
    }
    #sec_05 ul {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        margin-top: 50px;
        margin-bottom: 30px;
    }
    #sec_05 ul .g_txt {
        width: 100%;
        font-size: 1.2rem;
        text-align: center;
        word-break: keep-all;
    }
    #sec_05 ul .g_tit {
        margin-bottom:10px;
         width: 35%;
    }

    #footer {
        /* padding: 50px; */
        /* transform:translate(0, 50px); */
           position: relative;
    bottom:60px;
    }
    #footer .txt {
        flex-direction: column;    
    }
    .swiper-button-next, .swiper-button-prev {
    display:none;
    }
    #m_pager {
        display: block;
    }
    #m_footer_container
    {
        display: block;
    }
}
    #m_footer{
        margin-top: 10px;
    }

@media all and (max-width:400px){
    /* .inner {max-width:370px;} */

    #main .main_txt p {
        font-size: 1rem;
    }
    #main .main_img .sub img {
    width: 200px;
    top: 30px;
    left: 9%;
    margin-bottom: 10px;
}
    #main button {
        width: 280px;
        height: 80px;
    }
    #main button a {
        font-size: 1.8rem;
        padding-left: 40px;
    }
    #main button a::before {
        content: '';
        display: block;
        width: 40px;
        height: 40px;
    }
    #main .coun img {
    width:40px;
    margin-bottom: 10px;
    }
    #main .coun p:nth-child(3) {
    padding-top: 5px;
    }
    h2, .title p {
    text-align: center;
    }   
    #sec_02 .tit_flex div img {
    display:none;
    }
    #sec_02 .e_box .item_box h3, #sec_02 .e_box .item_box p {
        font-size: 1.8rem;
    }
    #sec_02 .title p {
        font-size: 1.4rem;
    }
    #sec_02 .sub {
        font-size: 1.4rem;
        word-break: keep-all;
    }
     #sec_02 .thum_list li {
    font-size:1.2rem;
    }
    /* #sec_05 ul .g_tit {
    width: 100%;
    }    */

    #sec_04 {
   display:none;
    }   
    #sec_05 .detail h3,  #sec_05 .small  {
    font-size: 1.2rem;
    text-align: center;
    }
    #footer .logo img{
    width: 150px;
    }
    #footer .txt {
    font-size: 1rem;
    word-break: keep-all;
    }
    #footer .txt p {
    padding: 0px;
}
    #m_footer div a{
    font-size:1.2rem;
}
    #m_footer .icon img{
    width:30px;
    padding-right:3px;
}


}

@media all and (max-width:381px){
    /* .inner{max-width:330px;} */
    #m_footer div a{
    font-size:1rem;
}

}


@media all and (max-height:1000px){
    #quick{
    /* bottom:15%; */
}
}